 
  <form method="post">
    
  
    <h1>Bienvenidos a Angular {{title}}</h1>
    <div id="name">
    <label for="name">Nombres</label>
    <input type="text" className="form-control"  name="nombre" [(ngModel)]="name"  id="nombre" placeholder="nombre">
    </div>
 
 <div>
  <label for="apellidos">Apellidos</label>
  <input type="text" name="apellidos" id="apellidos" [(ngModel)]="lastname" placeholder="Apellidos">

  <input type="button" value="Enviar" class="btn btn-primary  " (click)="agregar(name,lastname)">
 </div>
</form>

<table class="table table-striped table-bordered w-50 mx-auto">
  <h1>Datos Del Cliente</h1>
  <tr>
    <th>Nombres</th>
    <th>apellidos</th>
    <th>Eliminar</th>
  </tr>
    <tr *ngFor="let objeto of datos">
      <td>{{objeto.name}}</td>
      <td>{{objeto.lastname}}</td>
      <td><input type="button" className="btn btn-danger" value="Eliminar" (click)="Eliminar(objeto.id)"></td>
    </tr>
</table>